# OS Junk Files
*.DS_Store

# R Project files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
dbg.R

# Data files
data/mimic_tables/*
data/output/*
data/input/*
nomatch_icd9_ccs_codes.csv
data/EMR-robots-100/*
data/CDC-vitals/*				 # freely available online but too large for repo
data/icd_grouping/snowmedct_icd10cm_20160901.tsv # need umls license for this data
data/icd_grouping/ICD9CM_SNOMED_MAP_1T01_201612.txt # need umls license
data/icd_grouping/ICD9CM_SNOMED_MAP_1T0M_201612.txt # need umls license
